[Unit]
Description=led-Animation-247
After=multi-user.target

[Service]
User=root
Group=root
WorkingDirectory=/home/pi/RGB/
ExecStart=/usr/bin/python /home/pi/RGB/led_animation.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
